{% extends 'AppWebBundle::layout.html.twig' %}

{% block content %}
    <div class="row-flow">
        <div class="span12">
            <form class="form-horizontal palenie-switcher" method="post" action="{{ path('app_badanie_update', { badanieId: badanie.id, pacjentId: pacjent.id }) }}">
                <h2 style="margin-bottom: 50px;">{{ pacjent }} - nowe badanie</h2>
                <input type="hidden" name="_method" value="put">

                {% include 'AppBadanieBadanieBundle:Default:partials/_form.html.twig' with { form: form } %}

                {{ form_rest(form) }}
                <div class="row-fluid">
                    <div class="span12">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Zapisz</button>
                            <a href="{{ path('app_pacjent_show', { pacjentId: pacjent.id }) }}" class="btn"><i class="icon-remove"></i> Anuluj</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
