{% extends 'AppWebBundle::layout.html.twig' %}

{% block content %}
<div class="row-flow">
    <div class="span12">
        <dl class="dl-horizontal">
            <dt>Data badania</dt>
            <dd>{{ badanie.data|date('d.m.Y') }}</dd>
            <dt>Wynik badania</dt>
            <dd>{{ badanie|wynik_badania }}</dd>
            <dt>&nbsp;</dt>
            <dd><a href="{{ path('app_pacjent_show', { pacjentId: pacjent.id }) }}">Powrót do kartoteki pacjenta</a></dd>
        </dl>
    </div>
</div>
{% endblock %}
