{% extends 'AppWebBundle::base.html.twig' %}

{% block page_header %}
{% endblock %}

{% block navbar %}
    {#{{ mopa_bootstrap_navbar('frontendNavbar') }}#}
{% endblock navbar %}

{% block footer %}
    <p class="muted"><small>Onko2.2</small></p>
{% endblock footer %}
