{% extends 'AppWebBundle::layout.html.twig' %}

{% block content %}
    <div class="row-flow">
        <div class="span12">
            <legend>{{ pacjent }}</legend>
        </div>
    </div>
{% endblock %}
