<span>Biernie palący</span>
<dl class="dl-horizontal">
    <dt>Miejsce narażenia</dt>
    <dd>{{ papierosy.miejsceNarazenia }}</dd>
    <dt>Czas ekspozycji</dt>
    <dd>{{ papierosy.czasEkspozycji }}</dd>
    <dt>Ostatnio narażony</dt>
    <dd>{{ papierosy.ostatnioNarazony ? 'Tak' : 'Nie' }}</dd>
</dl>
